<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <h2>{{lastname}}</h2>
        <p>Hola {{name}} {{lastname }}</p>
        <input v-model="name" placeholder="Nombre" />
        <input v-model="lastname" placeholder="Apellido" />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const name = ref('');
                const lastname = ref('');
                const message = ref('Hola ');
                return {
                    message,
                    name,
                    lastname
                }
            }
        }).mount('#app')
    </script>
</body>

</html>