<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <!-- <h1>{{name}}</h1>
        <h2>{{lastname}}</h2>
        <p>Hola {{name}} {{lastname }}</p>
        <input v-model="name" placeholder="Nombre" />
        <input v-model="lastname" placeholder="Apellido" /><br />
        <button @click="button++">
            <div v-if="button<=0">Click me!</div>
            <div v-else>Click me: {{ button }}</div>
        </button>
        <hr />
        <input v-model="num1" placeholder="Primer número" />
        <input v-model="num2" placeholder="Segundo número" />
        <p>La suma de {{num1}} + {{num2}} es : {{+num1 + (+num2)}}</p>
        <hr />
        <form>
            <fieldset>
                <legend>
                    Nombre(s):
                </legend>
                <input v-model="name1" placeholder="Nombre" name="" />
            </fieldset>
            <fieldset>
                <legend>
                    Apellido(s):
                </legend>
                <input v-model="lastname1" placeholder="Apellido" name="" /><br>
            </fieldset>
            <button type="button" v-on:click="addPerson">
                Save data
            </button>
        </form>
        <ul v-if="persons.length>0">
            <li v-for="item in persons">{{item.name}} - {{item.lastname}}</li>
        </ul>
        <p v-else>
            No hay personas
        </p> -->
        <form>
            <fieldset>
                <legend>Email:</legend>
                <input type="email" v-model="email" placeholder="Correo" name="" id="">
            </fieldset>
            <fieldset>
                <legend>Password:</legend>
                <input type="password" v-model="password" placeholder="Contraseña" name="" id="">
            </fieldset>
            <button type="button" v-on:click="login">
                Enviar
            </button>
        </form>
        <!-- <ul v-if="persons.length>0">
            <li v-for="item in persons">{{item.name}} - {{item.lastname}}</li>
        </ul>
        <p v-else>
            No hay personas
        </p> -->
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        /*const { createApp, ref } = Vue

         createApp({
            setup() {
                const name = ref('');
                const lastname = ref('');
                const name1 = ref('');
                const lastname1 = ref('');
                const button = ref(0);
                const num1 = ref(0);
                const num2 = ref(0);
                const persons = ref([]);
                return {
                    name,
                    lastname,
                    name1,
                    lastname1,
                    button,
                    num1,
                    num2,
                    persons,
                }
            },
            methods: {
                addPerson() {
                    //const person = { name: this.name1, lastname: this.lastname1 }
                    console.log(this.persons.length);
                    //this.persons.push(person);
                    this.persons.push({ name: this.name1, lastname: this.lastname1 });
                    console.log(this.persons[0]);
                }
            }
        }).mount('#app') */
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const users = ref([]);
                const email = ref('');
                const password = ref('');
                return {
                    users,
                    email,
                    password
                }
            },
            methods: {
                async login() {
                    //Obtener datos
                    const response = await fetch("users.json");
                    const users_array = await response.json();
                    let isLogged = false;
                    console.log(users_array)
                    //Recorrer los datos
                    users_array.forEach(user => {
                        console.log(user.email);
                        console.log(user.password)
                        if (user.email == this.email) {
                            if (user.password == this.password) {
                                console.log("Sesion iniciada")
                                alert("Bienvenido "+ user.name)
                                isLogged = true;
                            }
                        }
                    });
                    if (!isLogged) {
                        console.log("Login fallido")
                        alert("Login Fallido")
                    }
                }
            }
        }).mount('#app')
    </script>
</body>

</html>
