<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <h2>{{lastname}}</h2>
        <p>Hola {{name}} {{lastname }}</p>
        <input v-model="name" placeholder="Nombre" />
        <input v-model="lastname" placeholder="Apellido" /><br />
        <button @click="button++" >
            <div v-if="button<=0">Click me!</div>
            <div v-else>Click me: {{ button }}</div>
        </button>
        <hr />
        <input v-model="num1" placeholder="Primer número" />
        <input v-model="num2" placeholder="Segundo número" />
        <p>La suma de {{num1}} + {{num2}} es : {{+num1 + (+num2)}}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const name = ref('');
                const lastname = ref('');
                const button = ref(0);
                const num1 = ref(0);
                const num2 = ref(0);
                return {
                    name,
                    lastname,
                    button,
                    num1,
                    num2,
                }
            }
        }).mount('#app')
    </script>
</body>

</html>